.header-scroll {
    background-color: #fff;
    transition: 1s;
}

.headerLogo_text-scroll {
    color: $gray;
}

.headerLogo_img-hide {
    display: none;
}

#js_logo {
    display: block;
}

#js_hide {
    display: none;
}