@use '../setting' as *;
@use '../mixin' as *;

.global-nav__list {
    display: flex;

    @include pc {
        display: none;
    }
}

.global-nav__item {
    color: $white;
    margin-right: 30px;
}