@use "../global" as *;

.globalButton {
    @include button('reserve');

    @include pc {
        margin-right: 10%;
    }
}

header {
    background-color: $gray;
    z-index: 99;
    position: fixed;
    margin-bottom: -80px;
    width: 100%;
    box-sizing: border-box;
}

.headerInner {
    position: relative;
    max-width: 1900px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

.headerWrap {
    display: flex;
    align-items: center;
}

.headerLogoWrap {
    display: flex;
    margin-right: 120px;
    align-items: center;
    min-width: 151px;

    @include pc {
        margin-right: 20px;
    }
}

.headerLogo_title {
    @include font-size(32);
    font-weight: bold;
    color: $white;
    margin-left: 15px;
}